@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Tokyo+Zoo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Zen Tokyo Zoo', cursive; */
}

.logo-name {
  font-family: 'Zen Tokyo Zoo', cursive;
}
